.endereco {
    display: block;
}

.endereco__titulo {
    padding-top: 2rem;
    text-align: center;
    font-size: 1.25rem;
}
.endereco__mapa iframe {
    padding: 1rem 10%;
    width: 80%;
    margin-bottom: 2rem ;
}