.home {
    background-repeat: no-repeat;
    background-size: 100vw;

    display: flex;    
}
.home__imagem {
    display: none;
}

.home__texto {
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 10%;
    color: #F9f9f9;
}

.home__titulo {
    text-shadow: 0px 0px 10px #000000;
}

.home__lema {
    font-style: italic;
    text-shadow: 0px 0px 10px #000000;
}

@media screen and (min-width: 0px) {
    .home__titulo {
        font-size: 3rem;
    }   
    .home__lema {
        font-size: 2rem;
    }
    .home{
        background-image: url(../assets/bannerPequeno.png);
        height: 85vw;
    }
}

@media screen and (min-width: 768px) {
    .home__titulo {
        font-size: 4.5rem;
    }
    .home__lema {
        font-size: 2.5rem;
    }
    .home{
        background-image: url(../assets/banner.png);
        height: 100vh;
    }
}

@media screen and (min-width: 1024px) {
    .home__titulo {
        font-size: 6rem;
    }
    .home__lema {
        font-size: 3rem;
    }
    .home{
        background-image: url(../assets/banner.png);
        height: 100vh;
    }
}